/*Base*/
body {
    font-family: $raleway;
}

@keyframes barras {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    //75% {
     //   opacity: 1;
    //}
    100% {
        opacity: 0;
    }
}