/*Navbar*/

.navbar-nav {
    .nav-item {
        .nav-link {
            color: $raisin-black;
        }
    }
}
.nav-item.ocultable.uno{
    border-top: 2px solid grey;
    margin-top: 5px;
    padding-top: 5px;
}

.form-inline {
    .blue-button {
        width: 120px;
        @include botones;
    }
    a {
        color: $raisin-black;
        padding: 0 30px;
        font-weight: $bold;
        letter-spacing: 1.5px;
        text-decoration: none;
        &:hover {
            color: $spanish-gray;
        }
    
    }
}

@media (min-width: 576px) {
    .navbar {
        padding: 0 100px;
    }
  
}
@media (min-width: 992px) {
    .ocultable {
        display: none;
    }
}
@media (max-width: 992px) {
    .form-inline {
        display: none;
    }
}