/*Main-section*/

.main__section {
    width: 80vw;
    padding: 1.5rem 1rem 1rem 1rem;
    position: relative;
    left: 0;
  
}
@media (min-width: 576px) {
    .main__section {
        width: 60vw;
        position: absolute;
        left: 5.25rem;
        top: 5 rem;
        padding: 3rem 1rem 1rem 1rem;
    }
    .main__image {
        position: relative;
        top: 5rem;
    }
}
@media (min-width: 768px) {
    .main__section {
        width: 40vw;
        padding: 2rem 1rem 1rem 1rem;
    }
}


@media (min-width: 992px) {
    .main__section {
        width: 40vw;
        position: absolute;
        left: 5.25rem;
        padding: 2rem 1rem 1rem 1rem;

    }
    .main__image {
        position: relative;
        top: 4rem;
    }

}



