/*Color Scheme*/

//Primer esquema de color
$white: #fff;
$platinum: #e8e8e8;
$gray: #bababa;

//Segundo esquema de color
$dark-salmon: #ee9480;
$melon: #f4baae;
$pale-pink: #fadfda;

//Tercer esquema de color
$ball-blue: #2ab7ca;
$middle-blue: #77d1dd;
$blue-lagoon: #b1e4eb;

//Cuarto esquema de color
$onyx: #333745;
$spanish-gray: #8f9199;
$lavander-gray: #c7cbcc;

//Quinto esquema de color
$raisin-black: #221d23;
$nickel: #726f73;
$silver-chalice: #aeacaf;

/*Font family*/
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;

/*Font weight*/
$bold: 700;
$regular: 400;

/*Font sizes*/
$xxxxx-large: 3.125rem;
$xxxx-large: 2.813rem;
$xxx-large: 2.5rem;
$xx-large: 2.188rem;
$x-large: 1.875rem;
$large: 1.25rem;
$medium: 1rem;
$small: 0.875rem;
$x-small: 0.75rem;